services:
  proxy:
    image: nginxproxy/nginx-proxy
    cpus: 1
    mem_limit: 1g
    # If port error try: sudo sysctl net.ipv4.ip_unprivileged_port_start=80
    privileged: true
    ports:
      - 80:80
      - 443:443
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./certs:/etc/nginx/certs
      - ${PWD}/.config/nginx-proxy/10.custom.conf:/etc/nginx/conf.d/10.custom.conf
    environment:
      - DEFAULT_HOST=local.devhost.name
      - NGINX_PROXY_WEBSOCKET=1
      - TRUST_DOWNSTREAM_PROXYS=true
  app:
    image: oven/bun:1.3-debian
    cpus: 1
    mem_limit: 4.5g
    working_dir: /app
    volumes:
      - ./app:/app
      # Anonymous volumes for node_modules to prevent host interference
      - /app/node_modules
    command: >
      /usr/bin/bash -c "bun install && bun dev"
    ports:
      - 9090:5173
      - 24678:24678
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      NODE_OPTIONS: --max-old-space-size=4096
      VIRTUAL_HOST_MULTIPORTS: |-
        local.devhost.name:
          "/hmr/":
            port: 24678
          "/":
            port: 5173
    env_file:
      - .env
    # depends_on:
    #   - cms
  cms:
    image: oven/bun:1.3-debian
    cpus: 2
    mem_limit: 4.5g
    working_dir: /app
    volumes:
      - ./cms:/app
      - /app/node_modules
    command: >
      /usr/bin/bash -c "bun install;
              if [ $(arch) = 'aarch64' ]; then
                bun install --cpu=arm64 --os=linux sharp;
              fi
              bun devsafe"
    ports:
      - 9091:3000
      - 38935:38935
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      NODE_OPTIONS: --max-old-space-size=4096
      VIRTUAL_HOST_MULTIPORTS: |-
        local.devhost.name:
          "/admin/hmr/":
            port: 38935
          "/admin":
            port: 3000
          "/_next":
            port: 3000
          "/api/":
            port: 3000
    env_file:
      - .env
    depends_on:
      - postgres
  postgres:
    # Version 18 is not working with the current version of Payload/Drizzle
    # https://github.com/payloadcms/payload/issues/13963
    image: postgres:17
    cpus: 2
    mem_limit: 2g
    shm_size: 128mb
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: pglocaldev
      POSTGRES_PASSWORD: wBJ6987b4f9gu3rz8G816BC3
      POSTGRES_DB: payload
    volumes:
      - ./.docker/postgres/data:/var/lib/postgresql/data
  adminer:
    image: adminer:5
    cpus: 1
    mem_limit: 1g
    ports:
      - 9093:8080
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      VIRTUAL_HOST_MULTIPORTS: |-
        local.devhost.name:
          "/adminer":
            port: 8080
