@reference "@/global.css";

.react-aria-DatePicker {
  @apply text-base-content;

  .react-aria-Group {
    @apply flex w-fit items-center;
  }
}

.react-aria-Popover[data-trigger="DatePicker"] {
  @apply max-w-none bg-base-200 border border-base-300 rounded-lg shadow-lg;
}

.datepicker-calendar {
  @apply p-4;

  table {
    @apply mb-4;
  }

  .react-aria-CalendarGridHeader {
    tr {
      @apply border-b border-base-300 mb-2;
    }
  }

  .react-aria-CalendarGridBody {
    td {
      @apply text-center py-1;

      &:not([aria-disabled="true"]) {
        @apply cursor-pointer hover:bg-base-300;
      }

      &[aria-disabled="true"] {
        @apply opacity-50;
      }

      &[aria-selected="true"] {
        @apply bg-primary text-primary-content;
      }
    }
  }
}
