@reference "@/global.css";

.rsw-ce {
  ul {
    list-style: disc;
    padding-left: 2em;
  }

  ol {
    list-style: decimal;
    padding-left: 2em;
  }

  a {
    @apply link;
  }

  &[contenteditable="false"] {
    @apply bg-base-200 text-base-content/40;
  }
}
